.container {
    border: #000000 1px solid;
    width: 640px;
    height: 640px;
    float: left;
    margin-right: 10px;
}

.controls {
    float: left;
}

.cell {
    border: #ffffff 1px solid;
    width: 30px;
    height: 30px;
    float: left;
}

.closed-0 {
    border-top: #000000 1px solid;
}

.closed-1 {
    border-right: #000000 1px solid;
}

.closed-2 {
    border-bottom: #000000 1px solid;
}

.closed-3 {
    border-left: #000000 1px solid;
}

.path-node {
    background-image: url('dot.png');
    background-repeat: no-repeat;
    background-position: center;
}