.container {
    display: block;
    border: #000000 1px solid;
    width: 850px;
    height: 680px;
    margin-right: auto;
    margin-left: auto;
}

.controls {
    float: left;
}

.cell {
    border: #ffffff 1px solid;
    width: 15px;
    height: 15px;
    float: left;
}

.closed-0 {
    border-top: #000000 1px solid;
}

.closed-1 {
    border-right: #000000 1px solid;
}

.closed-2 {
    border-bottom: #000000 1px solid;
}

.closed-3 {
    border-left: #000000 1px solid;
}

.path-node {
    background-image: url('dot.png');
    background-repeat: no-repeat;
    background-position: center;
}

.spinner {
    display: block;
    width: 31px;
    height: 31px;
    margin: auto;
    padding-top: 250px;
}