#content {
    width: 600px;
    height: 600px;
    margin: 20px auto 20px auto;
    border: #000000 1px solid;
}

.container {
}

.controls {
    float: left;
}

.cell {
    border: #000000 1px solid;
    width: 18px;
    height: 18px;
    float: left;
}

.open-0 {
    border-top: #ffffff 1px solid;
}

.open-1 {
    border-right: #ffffff 1px solid;
}

.open-2 {
    border-bottom: #ffffff 1px solid;
}

.open-3 {
    border-left: #ffffff 1px solid;
}

.path-node {
    background-image: url('dot.png');
    background-repeat: no-repeat;
    background-position: center;
}

.spinner {
    display: block;
    width: 31px;
    height: 31px;
    margin: auto;
    padding-top: 274px;
}

.instructions {
    width: 100%;
    text-align: center;
}